---
title: Accueil
---
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>

        <!-- FAVICON ICON  -->
        <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/simplixe/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/simplixe/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/simplixe/favicon-16x16.png"> -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <!-- GOOGLE FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Rubik&display=swap"
            rel="stylesheet">
        <!-- FONTAWESOME FONT -->
        <link href="/assets/css/simplixe/lib/icofont.min.css" rel="stylesheet">
        <!-- BOOTSTRAP -->
        <link href="/assets/css/simplixe/lib/bootstrap.min.css" rel="stylesheet">
        <!-- MAGNIFIC POPUP -->
        <link href="/assets/css/simplixe/lib/magnific.css" rel="stylesheet">
        <!-- HEADLINE ANIMATED -->
        <link href="/assets/css/simplixe/lib/headlineanimated.css" rel="stylesheet">
        <!-- OWL CARAOUSEL CSS -->
        <link href="/assets/css/simplixe/lib/owl.carousel.min.css" rel="stylesheet">
        <link href="/assets/css/simplixe/lib/owl.theme.default.min.css" rel="stylesheet">
        <!-- MAIN CSS -->
        <link href="/assets/css/simplixe/dark.css" rel="stylesheet">
        <!-- RESPONSIVE CSS -->
        <link href="/assets/css/simplixe/responsive.css" rel="stylesheet">
   
    </head>
    <body data-spy="scroll" data-target=".navigation-wrap" data-offset="1">
        <!--[if lt IE 7]>
              <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- PRELOADER -->
        <div class="preloader">
            <div class="ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- MAIN WRAP -->
        <div class="main-wrap">
            <!-- SMALL MENU -->
            <div class="overlay-fade"></div>
            <div class="wrap-mobilemenu">
                <button id="closesmenu" class="button-menu">
                    <i class="icofont-close-squared-alt"></i>
                </button>
                <nav class="menu-mobile">
                    <ul class="navigation-list">
                        <li><a class="nav-link" href="#about-wrap">About me</a></li>
                        <li><a class="nav-link" href="#portfolio-wrap">A propos de moi</a></li>
                    </ul>
                </nav>
            </div>
            <!-- HEADER WRAP -->
            <header id="header-wrap">
                <div class="main-headerwrap container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo-wrap">
                                <img src="/assets/images/logo.png" alt="logo" />
                            </div>
                        </div>
                        <div class="col-lg-9 navigation-big">
                            {% include menu/navigation.html %}
                        </div>
                        <button id="openmenu" class="button-menu">
                            <i class="icofont-navigation-menu"></i>
                        </button>
                    </div>
                </div>
            </header>
            <!-- END HEADER WRAP -->
            <!-- HERO WRAP -->
            <section id="wrap-hero" class="jarallax" style="background: url('/assets/images/hero-1.jpg'); background-size: cover; background-position: center;
            background-repeat: no-repeat;">
                <div class="d-flex align-items-center justify-content-center inner-herocontent">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="detail-herowrap">
                                    <h1>KiwiLand <span class="sec-word">Vitamin Dev</span></h1>
                                    <div class="sosmed-home head-sosmed">
                                        <ul class="sosmed-list">
                                            {% for network in site.social-network-links %}
                                                {% if network[0] == "linkedin" %}
                                                    <li><a href="https://linkedin.com/in/{{ network[1] }}""><i class="icofont-linkedin"></i> </a></li>
                                                {% endif %}
                                                {% if network[0] == "github" %}
                                                    <li><a href="https://github.com/{{ network[1] }}"><i class="icofont-github"></i> </a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="sec-detailherowrap">
                                    <p class="title-detail">Introduction</p>
                                    <h3>I'm a Profesional
                                        <span class="wrap-typed">
                                            <span id="typed-text"></span>
                                        </span>
                                    </h3>
                                    <div class="mini-detail">
                                        <p>
                                            I'm a software developer with a passion for web.  I'am tech addict and curious to discover new tools and concepts.
                                            I like to develop well-designed software, focused on user needs.
                                        </p>
                                    </div>
                                    <div class="big-text r-text li-text">01</div>
                                    <a href="#" class="button-link dark-b llinks">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END HERO WRAP -->
            <!-- ABOUT ME WRAP -->
            <section id="about-wrap" class="padtopbottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="big-text l-text da-text ">02</div>
                            <div class="about-detailwrap offset-lg-4">
                                <p class="title-detail">Short story</p>
                                <h3>About <span class="sec-word">me</span></h3>
                                <div class="mini-detail">
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, error
                                        assumenda! Totam quod blanditiis saepe.
                                    </p>
                                </div>
                                <div class="mini-detailabout">
                                    <div class="row">
                                        <div class="col-lg-6 ">
                                            <div class="inner-detailabout">
                                                <p>Full Name</p>
                                                <h3>Oscar Simplixe</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inner-detailabout">
                                                <p>Date of birth </p>
                                                <h3>17 Agust, 1989</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inner-detailabout">
                                                <p>Degree </p>
                                                <h3>Master</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inner-detailabout">
                                                <p>Location </p>
                                                <h3>Jakarta, INDONESIA</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inner-detailabout">
                                                <p>Phone </p>
                                                <h3>080989999</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inner-detailabout">
                                                <p>Email </p>
                                                <h3>tester@yourdomain.com</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="button-link dark-b llinks">Download Cv</a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="wrap-imageabout">
                                <img src="/assets/images/hero-2.jpg" alt="poto" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <!-- WHAT IDO -->
                            <div class="mini-detailwhatido ">
                                <div id="wrapido" class="owl-carousel owl-theme">
                                    <!-- WHAT IDO ITEM -->
                                    <div class="wrap-whatido">
                                        <div class="wrap-whatidodetail">

                                            <div class="inner-detailido">
                                                <i class="icofont-vector-path icon-w"></i>
                                                <h3>Product Design.</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolore
                                                    vitae repellendus natus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- WHAT IDO ITEM -->
                                    <div class="wrap-whatido">
                                        <div class="wrap-whatidodetail">
                                            <div class="inner-detailido">
                                                <i class="icofont-camera icon-w"></i>
                                                <h3>Photogrpaher.</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolore
                                                    vitae repellendus natus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- WHAT IDO ITEM -->
                                    <div class="wrap-whatido">
                                        <div class="wrap-whatidodetail">
                                            <div class="inner-detailido">
                                                <i class="icofont-brush icon-w"></i>
                                                <h3>Web Design.</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolore
                                                    vitae repellendus natus</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- WHAT IDO ITEM -->
                                    <div class="wrap-whatido">
                                        <div class="wrap-whatidodetail">
                                            <div class="inner-detailido">
                                                <i class="icofont-code-alt icon-w"></i>
                                                <h3>Development.</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolore
                                                    vitae repellendus natus</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END WHAT IDO -->
                        </div>
                    </div>
                </div>
            </section>
         
          
         
            <!-- FOOTER -->
            <footer id="footer-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="wrap-title-foot">
                                <h3><b>Kiwiland site 2024</b> crafted by Gaëlle Rauffet</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- SCROLLTOP -->
            <a href="#" class="scroll-top">
                <i class="icofont-arrow-up dropicon">
                </i>
            </a>
        </div>
        <!-- END MAIN WRAP -->
        <!-- JAVASCRIPT JQUERY -->
        <script src="/assets/js/simplixe/lib/jquery.js"></script>
        <!-- BOOTSTRAP -->
        <script src="/assets/js/simplixe/lib/bootstrap.min.js"></script>
        <!-- MAGNIFIC POPUP -->
        <script src="/assets/js/simplixe/lib/magnific.js"></script>
        <!-- OWL CAROUSEL -->
        <script src="/assets/js/simplixe/lib/owl.carousel.min.js"></script>
        <!-- ISOTOPE -->
        <script src="/assets/js/simplixe/lib/isotope.js"></script>
        <!-- HEADLINE ANIMATED -->
        <script src="/assets/js/simplixe/lib/typed.js"></script>
        <!-- JARALLAX -->
        <script src="/assets/js/simplixe/lib/jarallax.js"></script>
        <!-- MAIN JAVASCRIPT -->
        <script src="/assets/js/simplixe/main.js"></script>
    </body>

</html>
